<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
     <link rel='stylesheet' href='/stylesheets/index.css'/>
    <script src="script/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/script/index.js"></script>
</head>

<body>
    <div class="lt-header">
        <div class="logo">APIMOCK</div>
        <!--
        <div class="search">
            <input>
        </div>
        -->
    </div>
    <div class="lt-main">
        <div class="lt-left">
            <div class="menu">
                <% body.forEach(item=>{ %>
                    <div class="item">
                        <a href="#<%=item.name %>"> <%= item.alias %></a>
                        <div class="interfacesName"><%= item.interfacesName %></div>
                        <ul>
                            <% item.resourceGroups.forEach(resourceGroups=>{ %>
                                <li>
                                    <a href="#<%= resourceGroups.name %>"> <%= resourceGroups.name %></a>
                                    <ul>
                                        <li>
                                            <% resourceGroups.resources.forEach(resources=>{ %>
                                                <ul>
                                                    <% resources.actions.forEach(action=>{ %>
                                                        <li>
                                                            <a href="#<%= action.name %>" title="<%= resources.uriTemplate %>"><%= action.name %></a>
                                                        </li>
                                                    <% }) %>
                                                </ul>
                                            <% }) %>
                                        </li>
                                    </ul>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="lt-right" id="container">
            <% body.forEach(item=>{ %>
                <%- include('./preview', {body: item})  %>
            <% }) %>
        </div>
    </div>
</body>

</html>
