<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
     <link rel='stylesheet' href='/stylesheets/index.css'/>
    <script src="script/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/script/index.js"></script>
</head>

<body>
    <div class="lt-header">
        <div class="search">
            <input>
        </div>
    </div>
    <div class="lt-main">
        <div class="lt-left">
            <div class="menu">
                <% body.forEach(item=>{ %>
                    <div class="item">
                        <a href="#<%=item.name %>"> <%= item.name %></a>
                        <ul>
                            <% item.resourceGroups.forEach(resourceGroups=>{ %>
                                <li>
                                    <a href="#<%= resourceGroups.name %>"> <%= resourceGroups.name %></a>
                                    <ul>
                                        <li>
                                            <% resourceGroups.resources.forEach(resources=>{ %>
                                                <a href="#<%= resources.uriTemplate %>"><%= resources.uriTemplate %></a>
                                                <ul>
                                                    <% resources.actions.forEach(action=>{ %>
                                                        <li>
                                                            <a href="#<%= action.name %>"><%= action.name %></a>
                                                        </li>
                                                    <% }) %>
                                                </ul>
                                            <% }) %>
                                        </li>
                                    </ul>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="lt-right" id="container">
                <% body.forEach(item=>{ %>
                    <div class="tabContent" id="<%=item.name %>">
                        <div class="resource">
                            <div class="name"><%= item.name %></div>
                            <% if(item.description){ %>
                                <div class="detail">
                                    <%- marked(item.description) %>
                                </div>
                            <% } %>
                        </div>
                        <% item.resourceGroups.forEach((resourceGroups, resourceGroupsIndex)=>{ %>
                            <% if(resourceGroups.name){ %>
                                <div class="resourceGroups">
                                    <div class="name" id="<%= resourceGroups.name %>"><%= resourceGroups.name %></div>
                                    <% if(resourceGroups.description){ %>
                                        <div class="desc"><%- marked(resourceGroups.description) %></div>
                                    <% } %>
                                </div>
                            <% } %>
                            <!-- TODO 不确定 item.content[resourceGroupsIndex] -->
                            <% item.content[resourceGroupsIndex].content.forEach(dataStructure=>{ %>
                                <% dataStructure.content.forEach(institute=>{ %>
                                    <% institute.content.forEach(ins=>{ %>
                                        <%= JSON.stringify(ins) %>
                                        <%= ins.content.key.content %>
                                        <%= ins.content.value.content %>
                                    <% }) %>
                                <% }) %>
                            <% }) %>
                            <% resourceGroups.resources.forEach(resources=>{ %>
                                <div>
                                    <div class="resources">
                                        <div class="name" id="<%= resources.uriTemplate %>">资源:<%= resources.uriTemplate %></div>
                                        <% if(resources.description){ %>
                                            <div class="detail">
                                                <%- marked(resources.description) %>
                                            </div>
                                        <% } %>
                                        <% if(resources.parameters.length){ %>
                                            <div class="parameters">
                                                <div class="title">parameters:</div> 
                                                <div class="list">
                                                    <% resources.parameters.forEach(parameter=>{ %>
                                                        <div>
                                                            <p>name：<%= parameter.name %></p>
                                                            <p>required：<%= parameter.required? 'yes' : 'no' %></p>
                                                            <p>type：<%= parameter.type %></p>
                                                            <p>description：<%= parameter.description %></p>
                                                        </div>
                                                    <% }) %>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <dl class="resourcesList">
                                        <% resources.actions.forEach(action=>{ %>
                                            <dt id="<%= action.name %>">
                                                <%= action.name %>
                                            </dt>
                                            <dd>
                                                <span>description：</span>
                                                <%= action.description %>
                                            </dd>
                                            <dd>
                                                <span>method：</span>
                                                <%= action.method %>
                                            </dd>
                                            <% if(action.parameters.length){ %>
                                                <dd>
                                                    <div class="parameters">
                                                        <div class="title">parameters:</div>
                                                        <div class="list">
                                                            <% action.parameters.forEach((parameter)=>{ %>
                                                                <div>
                                                                    <p>name：<%= parameter.name %></p>
                                                                    <p>required：<%= parameter.required? 'yes' : 'no' %></p>
                                                                    <p>type：<%= parameter.type %></p>
                                                                    <p>description：<%= parameter.description %></p>
                                                                </div>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                </dd>
                                            <% } %>
                                            <% action.examples.forEach(example=>{ %>
                                                <% if(example.responses.length >= example.requests.length){ %>
                                                    <% example.responses.forEach((response, i)=>{ %>
                                                        <% if(example.requests[i]){ %>
                                                            <dd>
                                                                <span>request：</span>
                                                                <div>
                                                                    header：
                                                                    <% example.requests[i].headers.forEach(header=>{ %>
                                                                    <span><%= header.name%>:<%= header.value%></span>
                                                                    <% }) %>
                                                                </div>
                                                                <pre><%- jsonParse(example.requests[i].body) %></pre>
                                                            </dd>
                                                        <% } %>
                                                        <% if(response.body){ %>
                                                            <dd>
                                                                <span>response:</span>
                                                                <pre><%- jsonParse(response.body) %></pre>
                                                            </dd>
                                                        <% } %>
                                                    <% }) %>
                                                <% } %>
                                                <% if(example.responses.length < example.requests.length) { %>
                                                    <% example.requests.forEach((request, i)=>{ %>
                                                        <% if(example.response && example.response[i] && example.response[i].body){ %>
                                                            <dd>
                                                                <span>request：</span>
                                                                <pre><%= example.response[i].body %></pre>
                                                            </dd>
                                                        <% } %>
                                                        <% if(request.body || request.headers){ %>
                                                            <dd>
                                                                <span>response: </span>
                                                                <div>
                                                                    header：
                                                                    <% request.headers.forEach(header=>{ %>
                                                                    <span><%= header.name%>:<%= header.value%></span>
                                                                    <% }) %>
                                                                </div>
                                                                <pre><%- jsonParse(request.body) %></pre>
                                                            </dd>
                                                        <% } %>
                                                    <% }) %>
                                                <% } %>
                                            <% }) %>
                                        <% }) %>
                                    </dl>
                                </div>
                            <% }) %>
                        <% }) %>
                        <% if(item.metadata){ %>
                            <div class="version">
                                <div class="name">文档版本信息</div>
                                <ul class="list">
                                    <% item.metadata.forEach(meta=>{ %>
                                        <li>
                                            <%= meta.name %>: <%= meta.value %>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
                        <% } %>
                    </div>
                <% }) %>
        </div>
    </div>
</body>

</html>
