<div class="tabContent" id="<%=body.name %>">
    <%- include('./partial/metadata', {metadata: body.metadata})  %>
    <div class="resource">
        <div class="name"><%= body.name %></div>
        <% if(body.description){ %>
            <div class="detail">
                <%- marked(body.description) %>
            </div>
        <% } %>
    </div>
    <% body.resourceGroups.forEach((resourceGroups, resourceGroupsIndex)=>{ %>

        <%- include('./partial/resourceGroupsHeader', {resourceGroups}) %>

        <!-- TODO 不确定 body.content[resourceGroupsIndex] -->
        <%- include('./partial/table', {content: body.content[resourceGroupsIndex].content}) %>

        <% resourceGroups.resources.forEach(resources=>{ %>
            <div class="resourceGroups">

                <%- include('./partial/resources', {resources}) %>

                <div class="resourcesList">
                    <% resources.actions.forEach(action=>{ %>
                        
                        <%- include('./partial/actionHeader', {action}) %>
                        
                        <%- include('./partial/parameters', {parameters: action.parameters}) %>
                        
                        <%- include('./partial/examples', {examples: action.examples}) %>

                    <% }) %>
                </div>

            </div>

        <% }) %>
    <% }) %>
</div>