<div class="action">
    <div class="actionName" id="<%= action.name %>">
        <%= action.name %>
    </div>
    
    <div class="urlWrap">
        <span class="method"><%= revertString(action.attributes.uriTemplate) ? action.method : 'SOCKET' %></span>
        <span class="uriTemplate"><%= revertString(action.attributes.uriTemplate, true) %></span>
    </div>
    <% if(action.description){ %><div><%= action.description %></div><% } %>
    
</div>